@model IEnumerable<Auction.Models.ProductLot>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trading history</h4>
    <hr/>
    <h4>@Html.DisplayFor(model => model.First().LotName)</h4>
    <div class="row lead">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.First().Product.ProductName)
        </div>
    </div>
    <div class="row lead">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.StartPrice)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.First().StartPrice) $
        </div>
    </div>
    <div class="row lead">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.FirstOrDefault(p => p.IsActive).CurrentPrice) $
        </div>
    </div>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPrice)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDateTime)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to auction</a>
</div>